{namespace n=Tx_News_ViewHelpers}<!--
	=====================
		Partials/List/Item.html
-->
	<n:excludeDisplayedNews newsItem="{newsItem}" />
	<!-- mode list -->
<div class="news">
	<div class="image">
		<f:if condition="{newsItem.falMedia}">
			<!-- fal media preview element -->
			<f:then>
				<f:if condition="{newsItem.falMediaPreviews}">
					<f:then>
						<n:link newsItem="{newsItem}" settings="{settings}">
							<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
								<f:if condition="{mediaElement.originalResource.type} == 2">
									<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.media.maxWidth}" maxHeight="{settings.media.maxHeight}" />
								</f:if>
								<f:if condition="{mediaElement.originalResource.type} == 4">
									<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}" />
								</f:if>
							</f:alias>
						</n:link>
					</f:then>
				</f:if>
			</f:then>
			<f:else>

				<f:if condition="{newsItem.media}">
					<!-- media preview element -->
					<f:then>
						<f:if condition="{newsItem.mediaPreviews}">
							<f:then>
								<n:link newsItem="{newsItem}" settings="{settings}">
									<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
										<f:if condition="{mediaElement.type} == 0">
											<f:image src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
										</f:if>
										<f:if condition="{mediaElement.type} == 1">
											<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}" />
										</f:if>
										<f:if condition="{mediaElement.type} == 2">
											<f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}" />
										</f:if>
									</f:alias>
								</n:link>
							</f:then>
						</f:if>
					</f:then>
				</f:if>

			</f:else>
		</f:if>
	</div>
	<div class="title">
		<h2>
			<n:link newsItem="{newsItem}" settings="{settings}">
				<f:if condition="{newsItem.author}"><span>{newsItem.author}</span></f:if>
				{newsItem.title}
			</n:link>
		</h2>
	</div>
	<div class="info">
		<f:if condition="{newsItem.teaser}">
			<f:then>
				<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.teaser}</f:format.crop></f:format.html>
			</f:then>
			<f:else>
				<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.bodytext}</f:format.crop></f:format.html>
			</f:else>
		</f:if>
	</div>
	<div class="more">
		<n:link newsItem="{newsItem}" settings="{settings}" class="bt-more">
			<f:translate key="more-link" />
		</n:link>
	</div>
	<div class="clear"></div>
</div>