<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Page HTML de base</title>
  <link rel="stylesheet" href="templates/default/style/jquery-ui-1.11.css">
  <link rel="stylesheet" href="templates/default/style/sweet-alert.css">
  <link rel="stylesheet" href="templates/default/style/cookiebar.css">
  <link rel="stylesheet" href="templates/default/style/styles.slider.css">
  <link rel="stylesheet" href="templates/default/style/styles.css">

  
  <script src="templates/default/js/jquery-1.11.1.min.js"></script> 
  <script src="templates/default/js/placeholder.js"></script> 
  <script src="templates/default/js/jquery-ui-1.11.4.min.js"></script> 
  <script src="templates/default/js/jquery.cookiesbar.js"></script> 
  <script src="templates/default/js/iCheck.js"></script> 
  <script src="templates/default/js/jquery.browser.js"></script> 
  <script src="templates/default/js/jquery.bxslider.min.js"></script> 
  <script src="templates/default/js/matchMedia.js"></script> 
  <script src="templates/default/js/matchMedia.addListener.js"></script> 
  <script src="templates/default/js/enquire.js"></script> 
  <script src="templates/default/js/sweet-alert.min.js"></script> 
  <script src="templates/default/js/script.js"></script> 
  
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  
  <!--[if IE 8]> 
	<html class="ie8 lang="fr">
	<script src="templates/default/js/script.ie8.js"></script> 
   <![endif]-->
   <!--[if IE 9]> 
	<html class="ie9 lang="fr">
   <![endif]-->
  <!--[if lt IE 9]> 
	<script src="templates/default/js/html5.js"></script> 
  <![endif]-->
  
</head>
<body>
	<header>
		<div class="content-inner">
			<div id="logo">
				<a href="" title="Autocar Imbert"><img src="templates/default/images/logo.png" width="383" height="160" alt="Autocar Imbert"/></a>
			</div>
			<div class="right-header">
				<div id="header-top">
					<div class="content-header">
						<div id="language">
							<div class="lang-active">
								<a href="#" class="lang-fr" title="Français">Français</a>
							</div>
							<ul>
								<li class="active"><a href="#" class="lang-fr" title="Français">Français</a></li>
								<li><a href="#" class="lang-en" title="English">English</a></li>
							</ul>	
						</div>
						<div id="space-menu">
							<p>Mon espace personnel</p>
							<ul>
								<li><a href="#" title="Connexion">Connexion</a></li>
							</ul>
						</div>
						<div id="header-menu">
							<ul>
								<li class="menu-dest"><a href="#" title="Mes destinations">Mes destinations</a></li>
								<li class="menu-resa">
									<a href="#" title="Mes réservations">Mes réservations <span class="number">2</span></a>
								</li>
							</ul>
						</div>
						<div id="contact-header">
							<p class="tel">
								<span>04 92 45 18 11</span>
								Du lundi au vendredi de 9h à 19h
							</p>
							<p><a class="mail" href="mailto:info@lombard.com">info@lombard.com</a></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div id="header-bottom">
					<div class="mobile-menu"><span>Menu</span></div>
					<div class="hover-menu">
						<nav id="main-menu">
							<ul>
								<li>
									<a href="#">Nos lignes</a>
									<ul>
										<li><a href="#">Lignes régulières</a></li>
										<li><a href="#">Lignes scolaires</a></li>
										<li><a href="#">Lignes Tout Schuss</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Nos voyages</a>
									<ul>
										<li><a href="#">Notre brochure</a></li>
										<li><a href="#">Le Carnaval de Venise</a></li>
										<li><a href="#">Escapade à Barcelone</a></li>
										<li><a href="#">Ljubljana, Budapest, Bratislava, Prague</a></li>
										<li><a href="#">Le Pays Basque</a></li>
										<li><a href="#">Ardèche</a></li>
										<li><a href="#">Lac Majeur, Lac de Côme, Lac de Garde</a></li>
										<li><a href="#">Grèce</a></li>
										<li><a href="#">Andalousie</a></li>
										<li><a href="#">Rome</a></li>
										<li><a href="#">La Toscane</a></li>
										<li><a href="#">Les Dolomites</a></li>
										<li><a href="#">Farniente et détente en Adriatique</a></li>
										<li><a href="#">Le Tyrol du Sud</a></li>
										<li><a href="#">Le Golfe de Naples</a></li>
									</ul>
								</li>
								<li>
									<a href="#">La société</a>
									<ul>
										<li><a href="#">Notre histoire</a></li>
										<li><a href="#">Nos activités</a></li>
										<li><a href="#">Actualités</a></li>
									</ul>
								</li>
								<li><a href="#">Contactez-nous</a></li>
							</ul>
						</nav>
						<div id="search">
							<form>
								<div>
									<input type="text" placeholder="Rechercher"/>
									<input type="Submit" value="Ok"/>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</header>
	<div id="wrap">
		<div class="content-inner">
			<div id="top-content">
				<div id="breadcrumb">
					<a href="#">Accueil</a>
				</div>
				<div class="clear"></div>
				<div id="title-home" class="title-orange">
					<h1>Je réserve mon transport en ligne</h1>
				</div>
				<div class="clear"></div>
				<div id="image-top">
				</div>
			</div>
		</div>
		<div id="middle-home">
			<div class="content-inner">
				<div id="left">
					<div id="main-content">
						<div id="booking">
							<div class="bt-back">
								<a href="#" title="Modifier mon transport">Modifier mon transport</a>
							</div>
							<form id="booking-step2" class="form-booking" autocomplete="off">
								<fieldset>
									<legend>Mon transport</legend>
									<div>
										<div class="recap-transport">
											<div class="content-recap">
												<p class="title"><span>Aller</span></p>
												<p>Le <span class="txt-orange">17 décembre 2015</span> à <span class="txt-orange">14h00</span> à <span class="txt-orange">Marseille</span></p>
											</div>
										</div>
										<div class="recap-transport">
											<div class="content-recap">
												<p class="title"><span>Retour</span></p>
												<p>Le <span class="txt-orange">17 décembre 2015</span> à <span class="txt-orange">14h00</span> à <span class="txt-orange">Marseille</span></p>
											</div>
										</div>
										<div class="recap-transport">
											<div class="content-recap bg-orange">
												<p class="title"><span>Tarif de mon transport</span></p>
												<p class="bg-white"><span>120,50 €</span></p>
											</div>
										</div>
										<div class="clear"></div>
									</div>
								</fieldset>
								<fieldset>
									<legend>Mes coordonnées</legend>
									<div class="input-two">
										<div>
											<label for="nom">Nom</label>
											<input type="text" id="nom"/>
										</div>
										<div>
											<label for="prenom">Prénom</label>
											<input type="text" id="prenom"/>
										</div>
									</div>
									<div class="input-two">
										<div>
											<label for="email">Email</label>
											<input type="text" id="email" placeholder="contact@mail.com"/>
										</div>
										<div>
											<label for="tel">Téléphone</label>
											<input type="text" id="tel" placeholder="00 00 00 00 00"/>
										</div>
									</div>
									<div>
										<label for="adresse">Adresse</label>
										<input type="text" id="adresse"/>
									</div>
									<div class="input-two">
										<div>
											<label for="cp">CP</label>
											<input type="text" id="cp"/>
										</div>
										<div>
											<label for="ville">Ville</label>
											<input type="text" id="ville"/>
										</div>
									</div>
								</fieldset>
								<fieldset class="fieldset-station">
									<legend>Mode de paiement</legend>
									<div class="payment-list">
										<ul>
											<li>
												<a href="#" title="Carte bleue"><img src="templates/default/images/logo_cb.jpg" width="142" height="58" alt="Carte Bleue"/></a>
												<input type="radio" name="payment-type"/>
											</li>
											<li class="active">
												<a href="#" title="Carte VISA"><img src="templates/default/images/logo_visa.jpg" width="142" height="58" alt="Carte VISA"/></a>
												<input type="radio" name="payment-type"/>
											</li>
											<li>
												<a href="#" title="Carte MARSTERCARD"><img src="templates/default/images/logo_mastercard.jpg" width="142" height="58" alt="Carte MASTERCARD"/></a>
												<input type="radio" name="payment-type"/>
											</li>
											<li>
												<a href="#" title="Paypal"><img src="templates/default/images/logo_paypal.jpg" width="142" height="58" alt="Paypal"/></a>
												<input type="radio" name="payment-type"/>
											</li>
										</ul>
										<p><small>Paiement 100% sécurisé</small></p>
									</div>
								</fieldset>
								<fieldset class="fieldset-white">
									<input type="checkbox" id="cdg"/>
									<label for="cdg">J'ai lu les conditions générales et j'y adhère sans réserve <br/><a href="#">(lire les conditions générales de vente).</a></label>
									<div class="input-submit">
										<button type="submit"><span class="bt-bordure-bleu">Accéder au paiement</span></button>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<div id="block-twitter">
						<div class="content-twitter">
							<h2>En direct <span>#imbert</span></h2>
							<div id="twitter">
								<img src="templates/default/images/image-twitter.jpg"/>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div id="right">
					<div id="block-reservation" class="block-home">
						<div class="content-reservation">
							<h2>Je réserve <span>mon transport</span></h2>
							<div id="reservation-form">
								<form>
									<fieldset>
										<div class="radio-grp">
											<label>Aller / retour au départ de</label>
											<div class="input-radio active">
												<input type="radio" name="depart" checked="checked" id="marseille"/>
												<label for="marseille">Marseille</label>
											</div>
											<div class="input-radio">
												<input type="radio" name="depart" id="paris"/>
												<label for="paris">Paris</label>
											</div>
										</div>
										<div class="radio-grp input-second">
											<label>
												<img src="templates/default/images/txt_schuss.png" width="201" height="55" alt="Tout schuss !">
												vers la station de ski
											</label>
											<div class="input-radio active">
												<input type="radio" name="arrive" checked="checked" id="orres"/>
												<label for="orres">Les Orres</label>
											</div>
											<div class="input-radio">
												<input type="radio" name="arrive" id="risoul"/>
												<label for="risoul">Risoul</label>
											</div>
											<div class="input-radio">
												<input type="radio" name="arrive" id="vars"/>
												<label for="vars">Vars</label>
											</div>
											<div class="input-radio">
												<input type="radio" name="arrive" id="queyras"/>
												<label for="queyras">Le Quyeras <small>Abries • Aiguilles • Arvieux • Ceillac • Molines • Ristolasal • Saint-Véran </small></label>
											</div>
										</div>
										<div class="input-submit">
											<input type="submit" class="bt-bordure-orange" value="Je réserve en ligne"/>
										</div>
									</fieldset>
								</form>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div id="block-advert">
						<div class="content-advert">
							<div class="advert">
								<a href="#" title="Prendre mon vélo direction Vars au dépard d'Embrun">
									<img src="templates/default/images/image-pub-ete.jpg" width="269" height="294" alt="Prendre mon vélo direction Vars au dépard d'Embrun"/>
									<div class="caption">En savoir plus ></div>
								</a>
							</div>
						</div>
					</div>
					<div id="block-network">
						<div class="content-network">
							<h2>Rejoignez-nous !</h2>
							<ul>
								<li><a href="#" title="Facebook"><img src="templates/default/images/icon_facebook.png" width="34" height="34" alt="Facebook"/></a></li>
								<li><a href="#" title="Twitter"><img src="templates/default/images/icon_twitter.png" width="34" height="34" alt="Twitter"/></a></li>
								<li><a href="#" title="Google +"><img src="templates/default/images/icon_google+.png" width="34" height="34" alt="Google +"/></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<footer>
		<div class="content-inner">
			<div id="logo-footer">
				<a href="" title="Autocar Imbert"><img src="templates/default/images/logo_footer.png" width="246" height="26" alt="Autocar Imbert"/>
			</div>
			<div id="partner-footer">
				<ul>
					<li><img src="templates/default/images/logo_axa.png" width="117" height="33" alt="AXA Green Miles"/></li>
					<li><img src="templates/default/images/logo_05voyageur.png" width="121" height="64" alt="Bouger autrement 05 Voyageurs"/></li>
					<li><img src="templates/default/images/logo_hautes_alpes.png" width="156" height="32" alt="Hautes-Alpes le département"/></li>
				</ul>
			</div>
			<div class="clear"></div>
			<div id="footer-menu">
				<ul>
					<li>
						<a href="#">Nos lignes</a>
						<ul>
							<li><a href="#">Lignes régulières</a></li>
							<li><a href="#">Lignes scolaires</a></li>
							<li><a href="#">Lignes Tout Schuss</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Nos voyages</a>
						<ul>
							<li><a href="#">Notre brochure</a></li>
							<li><a href="#">Le Carnaval de Venise</a></li>
							<li><a href="#">Escapade à Barcelone</a></li>
							<li><a href="#">Ljubljana, Budapest, Bratislava, Prague</a></li>
							<li><a href="#">Le Pays Basque</a></li>
							<li><a href="#">Ardèche</a></li>
							<li><a href="#">Lac Majeur, Lac de Côme, Lac de Garde</a></li>
							<li><a href="#">Grèce</a></li>
							<li><a href="#">Andalousie</a></li>
							<li><a href="#">Rome</a></li>
							<li><a href="#">La Toscane</a></li>
							<li><a href="#">Les Dolomites</a></li>
							<li><a href="#">Farniente et détente en Adriatique</a></li>
							<li><a href="#">Le Tyrol du Sud</a></li>
							<li><a href="#">Le Golfe de Naples</a></li>
						</ul>
					</li>
					<li>
						<a href="#">La société</a>
						<ul>
							<li><a href="#">Notre histoire</a></li>
							<li><a href="#">Nos activités</a></li>
							<li><a href="#">Actualités</a></li>
						</ul>
					</li>
					<li><a href="#">Contactez-nous</a></li>
				</ul>
			</div>
			<div id="copyright-menu">
				<ul>
					<li><a href="#">Crédits et mentions légales</a></li>
					<li><a href="#">Conditions générales de vente</a></li>
					<li><a href="#">Création PimentRouge.fr</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</footer>
</body>
</html>