<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Page HTML de base</title>
  <link rel="stylesheet" href="templates/default/style/jquery-ui-1.11.css">
  <link rel="stylesheet" href="templates/default/style/cookiebar.css">
  <link rel="stylesheet" href="templates/default/style/styles.slider.css">
  <link rel="stylesheet" href="templates/default/style/styles.css">

  
  <script src="templates/default/js/jquery-1.11.1.min.js"></script> 
  <script src="templates/default/js/placeholder.js"></script> 
  <script src="templates/default/js/jquery-ui-1.11.4.min.js"></script> 
  <script src="templates/default/js/jquery.cookiesbar.js"></script> 
  <script src="templates/default/js/iCheck.js"></script> 
  <script src="templates/default/js/jquery.browser.js"></script> 
  <script src="templates/default/js/jquery.bxslider.min.js"></script> 
  <script src="templates/default/js/matchMedia.js"></script> 
  <script src="templates/default/js/matchMedia.addListener.js"></script> 
  <script src="templates/default/js/enquire.js"></script> 
  <script src="templates/default/js/script.js"></script> 
  
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  
  <!--[if IE 8]> 
	<html class="ie8 lang="fr">
	<script src="templates/default/js/script.ie8.js"></script> 
   <![endif]-->
   <!--[if IE 9]> 
	<html class="ie9 lang="fr">
   <![endif]-->
  <!--[if lt IE 9]> 
	<script src="templates/default/js/html5.js"></script> 
  <![endif]-->
  
</head>
<body>
	<header>
		<div class="content-inner">
			<div id="logo">
				<a href="" title="Autocar Imbert"><img src="templates/default/images/logo.png" width="383" height="160" alt="Autocar Imbert"/></a>
			</div>
			<div class="right-header">
				<div id="header-top">
					<div class="content-header">
						<div id="language">
							<div class="lang-active">
								<a href="#" class="lang-fr" title="Français">Français</a>
							</div>
							<ul>
								<li class="active"><a href="#" class="lang-fr" title="Français">Français</a></li>
								<li><a href="#" class="lang-en" title="English">English</a></li>
							</ul>	
						</div>
						<div id="space-menu">
							<p>Mon espace personnel</p>
							<ul>
								<li><a href="#" title="Connexion">Connexion</a></li>
							</ul>
						</div>
						<div id="header-menu">
							<ul>
								<li class="menu-dest"><a href="#" title="Mes destinations">Mes destinations</a></li>
								<li class="menu-resa">
									<a href="#" title="Mes réservations">Mes réservations <span class="number">2</span></a>
								</li>
							</ul>
						</div>
						<div id="contact-header">
							<p class="tel">
								<span>04 92 45 18 11</span>
								Du lundi au vendredi de 9h à 19h
							</p>
							<p><a class="mail" href="mailto:info@lombard.com">info@lombard.com</a></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div id="header-bottom">
					<div class="mobile-menu"><span>Menu</span></div>
					<div class="hover-menu">
						<nav id="main-menu">
							<ul>
								<li>
									<a href="#">Nos lignes</a>
									<ul>
										<li><a href="#">Lignes régulières</a></li>
										<li><a href="#">Lignes scolaires</a></li>
										<li><a href="#">Lignes Tout Schuss</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Nos voyages</a>
									<ul>
										<li><a href="#">Notre brochure</a></li>
										<li><a href="#">Le Carnaval de Venise</a></li>
										<li><a href="#">Escapade à Barcelone</a></li>
										<li><a href="#">Ljubljana, Budapest, Bratislava, Prague</a></li>
										<li><a href="#">Le Pays Basque</a></li>
										<li><a href="#">Ardèche</a></li>
										<li><a href="#">Lac Majeur, Lac de Côme, Lac de Garde</a></li>
										<li><a href="#">Grèce</a></li>
										<li><a href="#">Andalousie</a></li>
										<li><a href="#">Rome</a></li>
										<li><a href="#">La Toscane</a></li>
										<li><a href="#">Les Dolomites</a></li>
										<li><a href="#">Farniente et détente en Adriatique</a></li>
										<li><a href="#">Le Tyrol du Sud</a></li>
										<li><a href="#">Le Golfe de Naples</a></li>
									</ul>
								</li>
								<li>
									<a href="#">La société</a>
									<ul>
										<li><a href="#">Notre histoire</a></li>
										<li><a href="#">Nos activités</a></li>
										<li><a href="#">Actualités</a></li>
									</ul>
								</li>
								<li><a href="#">Contactez-nous</a></li>
							</ul>
						</nav>
						<div id="search">
							<form>
								<div>
									<input type="text" placeholder="Rechercher"/>
									<input type="Submit" value="Ok"/>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</header>
	<div id="wrap">
		<div class="content-inner">
			<div id="top-content">
				<div id="breadcrumb">
					<a href="#">Accueil</a>
				</div>
				<div class="clear"></div>
				<div id="title-home">
					<h1>Nos voyages</h1>
				</div>
				<div class="clear"></div>
				<div id="image-top">
				</div>
			</div>
		</div>
		<div id="middle-home">
			<div class="content-inner">
				<div id="left">
					<div id="main-content">
						<div id="detail-travel">
							<div class="info-travel">
								<ul>
									<li><p><span>4 jours</span> <small>/ 3 nuits</small></p></li>
									<li><p>du 21 au 24 <br/>février 2016</p></li>
									<li class="price"><p><span>550 €</span> <small>/ personne</small> en chambre double</p></li>
								</ul>
							</div>
							<div class="slider-travel">
								<ul>
									<li>
										<img src="templates/default/images/image-voyage-detail.jpg" width="650" height="309" alt=""/>
										<div class="caption">
											Des masques inoubliables
										</div>
									</li>
									<li>
										<img src="templates/default/images/image-voyage-detail.jpg" width="650" height="309" alt=""/>
										<div class="caption">
											Des masques inoubliables
										</div>
									</li>
									<li>
										<img src="templates/default/images/image-voyage-detail.jpg" width="650" height="309" alt=""/>
										<div class="caption">
											Des masques inoubliables
										</div>
									</li>
								</ul>
							</div>
							<div class="clear"></div>
							<div class="link-travel">
								<ul>
									<li class="active"><a class="link-fav" href="#">Déjà en favori</a></li>
									<li><a class="link-print" href="#">Imprimer</a></li>
									<li><a class="link-pdf" href="#">Exporter en PDF</a></li>
								</ul>
							</div>
							<div class="content-travel">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum felis sapien, cursus vel magna eget, hendrerit blandit ante. Duis quis auctor justo. Cras odio nibh, blandit nec faucibus at, sollicitudin quis elit. Aenean ligula ante, faucibus at libero fringilla, pretium rutrum ipsum. Phasellus eget ligula lorem. Etiam libero enim, tristique vel magna et, tristique scelerisque nibh. Integer et porttitor nulla. Morbi quis mi et enim aliquam fermentum sed id libero. Phasellus viverra vestibulum eleifend. Praesent mollis, lorem sed varius varius, velit purus consequat lorem, eu ullamcorper orci felis et magna. Sed in purus bibendum, elementum sem ac, porttitor felis.</p>
							</div>
						</div>
					</div>
					<div id="block-twitter">
						<div class="content-twitter">
							<h2>En direct <span>#imbert</span></h2>
							<div id="twitter">
								<img src="templates/default/images/image-twitter.jpg"/>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div id="right">
					<div id="block-reservation" class="block-home">
						<div class="content-reservation">
							<h2>Je réserve <span>mon transport</span></h2>
							<div id="reservation-form">
								<form>
									<fieldset>
										<div class="radio-grp">
											<label>Aller / retour au départ de</label>
											<div class="input-radio active">
												<input type="radio" name="depart" checked="checked" id="marseille"/>
												<label for="marseille">Marseille</label>
											</div>
											<div class="input-radio">
												<input type="radio" name="depart" id="paris"/>
												<label for="paris">Paris</label>
											</div>
										</div>
										<div class="radio-grp input-second">
											<label>
												<img src="templates/default/images/txt_schuss.png" width="201" height="55" alt="Tout schuss !">
												vers la station de ski
											</label>
											<div class="input-radio active">
												<input type="radio" name="arrive" checked="checked" id="orres"/>
												<label for="orres">Les Orres</label>
											</div>
											<div class="input-radio">
												<input type="radio" name="arrive" id="risoul"/>
												<label for="risoul">Risoul</label>
											</div>
											<div class="input-radio">
												<input type="radio" name="arrive" id="vars"/>
												<label for="vars">Vars</label>
											</div>
											<div class="input-radio">
												<input type="radio" name="arrive" id="queyras"/>
												<label for="queyras">Le Quyeras <small>Abries • Aiguilles • Arvieux • Ceillac • Molines • Ristolasal • Saint-Véran </small></label>
											</div>
										</div>
										<div class="input-submit">
											<input type="submit" class="bt-bordure-orange" value="Je réserve en ligne"/>
										</div>
									</fieldset>
								</form>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div id="block-advert">
						<div class="content-advert">
							<div class="advert">
								<a href="#" title="Prendre mon vélo direction Vars au dépard d'Embrun">
									<img src="templates/default/images/image-pub-ete.jpg" width="269" height="294" alt="Prendre mon vélo direction Vars au dépard d'Embrun"/>
									<div class="caption">En savoir plus ></div>
								</a>
							</div>
						</div>
					</div>
					<div id="block-network">
						<div class="content-network">
							<h2>Rejoignez-nous !</h2>
							<ul>
								<li><a href="#" title="Facebook"><img src="templates/default/images/icon_facebook.png" width="34" height="34" alt="Facebook"/></a></li>
								<li><a href="#" title="Twitter"><img src="templates/default/images/icon_twitter.png" width="34" height="34" alt="Twitter"/></a></li>
								<li><a href="#" title="Google +"><img src="templates/default/images/icon_google+.png" width="34" height="34" alt="Google +"/></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<footer>
		<div class="content-inner">
			<div id="logo-footer">
				<a href="" title="Autocar Imbert"><img src="templates/default/images/logo_footer.png" width="246" height="26" alt="Autocar Imbert"/>
			</div>
			<div id="partner-footer">
				<ul>
					<li><img src="templates/default/images/logo_axa.png" width="117" height="33" alt="AXA Green Miles"/></li>
					<li><img src="templates/default/images/logo_05voyageur.png" width="121" height="64" alt="Bouger autrement 05 Voyageurs"/></li>
					<li><img src="templates/default/images/logo_hautes_alpes.png" width="156" height="32" alt="Hautes-Alpes le département"/></li>
				</ul>
			</div>
			<div class="clear"></div>
			<div id="footer-menu">
				<ul>
					<li>
						<a href="#">Nos lignes</a>
						<ul>
							<li><a href="#">Lignes régulières</a></li>
							<li><a href="#">Lignes scolaires</a></li>
							<li><a href="#">Lignes Tout Schuss</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Nos voyages</a>
						<ul>
							<li><a href="#">Notre brochure</a></li>
							<li><a href="#">Le Carnaval de Venise</a></li>
							<li><a href="#">Escapade à Barcelone</a></li>
							<li><a href="#">Ljubljana, Budapest, Bratislava, Prague</a></li>
							<li><a href="#">Le Pays Basque</a></li>
							<li><a href="#">Ardèche</a></li>
							<li><a href="#">Lac Majeur, Lac de Côme, Lac de Garde</a></li>
							<li><a href="#">Grèce</a></li>
							<li><a href="#">Andalousie</a></li>
							<li><a href="#">Rome</a></li>
							<li><a href="#">La Toscane</a></li>
							<li><a href="#">Les Dolomites</a></li>
							<li><a href="#">Farniente et détente en Adriatique</a></li>
							<li><a href="#">Le Tyrol du Sud</a></li>
							<li><a href="#">Le Golfe de Naples</a></li>
						</ul>
					</li>
					<li>
						<a href="#">La société</a>
						<ul>
							<li><a href="#">Notre histoire</a></li>
							<li><a href="#">Nos activités</a></li>
							<li><a href="#">Actualités</a></li>
						</ul>
					</li>
					<li><a href="#">Contactez-nous</a></li>
				</ul>
			</div>
			<div id="copyright-menu">
				<ul>
					<li><a href="#">Crédits et mentions légales</a></li>
					<li><a href="#">Conditions générales de vente</a></li>
					<li><a href="#">Création PimentRouge.fr</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</footer>
</body>
</html>