<f:layout name="{settings.layout}" />

<f:section name="content">

<div id="wrap">
	<div class="content-inner">
		<div id="top-content">
			<div class="position-google">
				<f:format.raw>{google_map}</f:format.raw>
			</div>
			<div id="breadcrumb">
				<f:format.raw>{breadcrumb_menu}</f:format.raw>
			</div>
			<div class="clear"></div>
			<div id="title-home">
				<f:format.raw>{title_page}</f:format.raw>
			</div>
			<div class="clear"></div>
			<div id="image-top">
				<f:format.raw>{image_header}</f:format.raw>
			</div>
		</div>
	</div>
	<div id="middle-home">
		<div class="content-inner">
			<div id="left">
				<div id="content-right">
					<f:format.raw>{right_content}</f:format.raw>
				</div>
				<div id="main-content">
					<f:format.raw>{main_content}</f:format.raw>
				</div>
				<!--<div id="block-twitter">
					<div class="content-twitter">
						<h2>En direct <span>#imbert</span></h2>
						<div id="twitter">
							<f:format.raw>{block_twitter}</f:format.raw>
						</div>
						<div class="clear"></div>
					</div>
				</div>-->
			</div>
			<div id="right">
				<div id="block-reservation" class="block-home">
					<div class="content-reservation">
						<f:format.raw>{block_booking}</f:format.raw>
					</div>
					<div class="clear"></div>
				</div>
				<div id="block-image">
					<div class="content-image">
						<f:format.raw>{block_advert}</f:format.raw>
						<div class="clear"></div>
					</div>
				</div>
				<div id="block-network">
					<div class="content-network">
						<f:format.raw>{block_network}</f:format.raw>
						<div class="csc-textpic csc-textpic-center csc-textpic-above">
							<div class="csc-textpic-imagewrap">
								<ul>
									<li><img src="fileadmin/templates/default/images/icon_facebook.png" width="34" height="34" alt="Page Facebook" title="Page Facebook"/></li>
									<li><a href="https://twitter.com/autocarsimbert" target="_blank" rel="nofollow" title="Page Twitter"><img src="fileadmin/templates/default/images/icon_twitter.png" width="35" height="34" alt="Page Twitter"/></a></li>
									<li><a href="https://business.google.com/b/116695766008819668157/dashboard/l/03856112795967451578" target="_blank" title="Page Google+"><img src="fileadmin/templates/default/images/icon_google+.png" width="35" height="34" alt="Page Google+"/></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
				
</f:section>