#middle-office-list .bt-copy {
    display: inline-block;
    background: url('../images/bt-copy.png') no-repeat center top;
}
#middle-office-list .bt-edit {
    display: inline-block;
}

.edit-input {
    padding: 15px 3px !important;
}
.edit-select {

}
.date {
    width: 140px;
    padding: 15px 0 0 10px;
}

.bt-edit {
    padding-top: 10px;
}