<!-- Builds the 'from' location option list -->
 <span class="span-select"><f:translate key='tx_tours_domain_model_tours.from'/></span> 
 
<div class="input-select">
    <select class="{class}" name="{class}_from_location" >
    	<f:for each="{vojages}" as="vojage" iteration="i">
			<f:if condition="{i.isFirst}"><f:then>
		     	<option disabled="disabled" class="{class}_arr-option {class}_arr-option-default" data-uid="-1" data-time="" data-adult-price="0" data-child-price="0"> ---- </option>
		    </f:then></f:if>
    		<option disabled="disabled" class="{class}_arr-option" name="{vojage.from}" data-city="{vojage.from}" data-uid="{vojage.uid}" data-time="{f:format.date(format : 'm/d/Y', date : '{vojage.departure_date}')}" data-adult-price="{vojage.adult_price}" data-child-price="{vojage.child_price}" >{vojage.from} - <f:format.date format="H:i">{vojage.departure_date}</f:format.date></option>
		</f:for>
    </select>
</div>