<!-- These fields are used in the next step of the reservation [step-2] 
     
	from-time: 
		Represents the arrival date

     from-hour:
        Represents the arrival time

    from-city:
        Represents the location from which person are going to travel


    to-time: 
		Represents the date when person reach the target city

    to-hour:
       Represents the time when person reach the target city

    to-city:
        Target city [ destination ]
        

    INFO:
    	This fileds will be updated when 'toTheNextStep' button is clicked,
    	for more detail see the function 'updateHiddenFields()' in the fistStep.js
-->
<f:form.hidden id="tx_tours_vojage_from-id" name="tx_tours_vojage[from-id]" value="" />
<f:form.hidden id="tx_tours_vojage_from-time" name="tx_tours_vojage[from-time]" value="" />
<f:form.hidden id="tx_tours_vojage_from-hour" name="tx_tours_vojage[from-hour]" value="" />
<f:form.hidden id="tx_tours_vojage_from-city" name="tx_tours_vojage[from-city]" value="" />

<f:form.hidden id="tx_tours_vojage_from-time2" name="tx_tours_vojage[from-time2]" value="" />
<f:form.hidden id="tx_tours_vojage_from-hour2" name="tx_tours_vojage[from-hour2]" value="" />
<f:form.hidden id="tx_tours_vojage_from-city2" name="tx_tours_vojage[from-city2]" value="" />


<f:form.hidden id="tx_tours_vojage_to-id"   name="tx_tours_vojage[to-id]"   value="" />
<f:form.hidden id="tx_tours_vojage_to-city"   name="tx_tours_vojage[to-city]"   value="" />
<f:form.hidden id="tx_tours_vojage_to-time"   name="tx_tours_vojage[to-time]"   value="" />
<f:form.hidden id="tx_tours_vojage_to-hour"   name="tx_tours_vojage[to-hour]"   value="" />

<f:form.hidden id="tx_tours_vojage_to-city2"   name="tx_tours_vojage[to-city2]"   value="" />
<f:form.hidden id="tx_tours_vojage_to-time2"   name="tx_tours_vojage[to-time2]"   value="" />
<f:form.hidden id="tx_tours_vojage_to-hour2"   name="tx_tours_vojage[to-hour2]"   value="" />


<f:form.hidden id="tx_tours_vojage_from--option"     name="tx_tours_vojage[from--option]"     value="" />
<f:form.hidden id="tx_tours_vojage_from--option-2"   name="tx_tours_vojage[from--option-2]"   value="" />

<f:form.hidden id="tx_tours_vojage_to--option"       name="tx_tours_vojage[to--option]"       value="" />
<f:form.hidden id="tx_tours_vojage_to--option-2"     name="tx_tours_vojage[to--option-2]"     value="" />

