{namespace c=Autocars\Tours\ViewHelpers}
{namespace h=Helhum\TyposcriptRendering\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">

    <h1>Edit office action</h1>

    <f:form action="updateVojage"
            name="voyage"
            object="{voyage}"
            arguments="{voyage: voyage}"
            noCache="1">

        <table class="tx_tours-edit">
            <tr>
                <th>Places max</th>
                <th>Date de départ</th>
                <th>Ville de départ</th>
                <th>Date d'arrivée</th>
                <th>Ville d'arrivée</th>
            </tr>

            <tr>
                <td><p><f:form.textfield class="edit-input" property="placesMax" /></p></td>
                <td>
                    <f:form.textfield class="date" id="departureDate" property="departureDate" value="{voyage.departureDate->f:format.date(format: 'd/m/Y H:i')}" />
                </td>
                <td>
                    <div class="input-select">
                        <f:form.select
                                property="fromLocation"
                                options="{fromLocation}"
                                optionLabelField="title"
                                optionValueField="uid" />
                    </div>
                </td>
                <!-- Time H:i -->
                <td>
                    <p>
                        <f:form.textfield class="date" id="arrivalDate" property="arrivalDate" value="{voyage.arrivalDate->f:format.date(format: 'd/m/Y H:i')}" />
                    </p>
                </td>
                <td>
                    <div class="input-select">
                        <f:form.select
                                property="toLocation"
                                options="{toLocation}"
                                optionLabelField="title"
                                optionValueField="uid" />
                    </div>
                </td>
            </tr>

        </table>

        <f:form.submit value="{f:translate(id:'tx_tours.submit')}" class="button-submitbtn" />
    </f:form>

    <script>
        jQuery(document).ready(function () {
            'use strict';
            jQuery('#departureDate, #arrivalDate').datetimepicker({
                format:'d/m/Y H:i',
                inline:false,
                lang:'fr',
            });
        });
    </script>

</f:section>