{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{v:variable.register.get(name: 'marseille')}==1">
	<div class="block-add-voyage">
		<p class="title">Marseille Aéroport</p>
		<div class="block-datepicker add-datepicker">
		
		</div>
		<div class="info-datepicker">
			<p>
				<f:translate key='tx_tours_domain_model_tours.the'/> 
				<span class="text-datepicker"></span>
			</p>
			<f:form.hidden name="marseilleAeroportDate" value="" />
			<div class="input-date">
				<span>à </span>
				<div class="input-select">
					<f:form.select name="marseilleAeroportHour" options="{hours}" />
				</div>
				<span>h </span>
				<div class="input-select">
					<f:form.select name="marseilleAeroportMinute" options="{minutes}" />
				</div>
				<span>min </span>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="block-add-voyage">
        <p class="title">Aix Gare TGV</p>
		<div class="block-datepicker add-datepicker">
		
		</div>
		<div class="info-datepicker">
			<p>
				<f:translate key='tx_tours_domain_model_tours.the'/> 
				<span class="text-datepicker"></span>
			</p>
			<f:form.hidden name="aixTgvDate" value="" />
			<div class="input-date">
				<span>à </span>
				<div class="input-select">
					<f:form.select name="aixTgvHour" options="{hours}" />
				</div>
				<span>h </span>
				<div class="input-select">
					<f:form.select name="aixTgvMinute" options="{minutes}" />
				</div>
				<span>min </span>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="block-add-voyage">
        <p class="title">Aix Ville Gare Routière</p>
		<div class="block-datepicker add-datepicker">
		
		</div>
		<div class="info-datepicker">
			<p>
				<f:translate key='tx_tours_domain_model_tours.the'/> 
				<span class="text-datepicker"></span>
			</p>
			<f:form.hidden name="aixVilleDate" value="" />
			<div class="input-date">
				<span>à </span>
				<div class="input-select">
					<f:form.select name="aixVilleHour" options="{hours}" />
				</div>
				<span>h </span>
				<div class="input-select">
					<f:form.select name="aixVilleMinute" options="{minutes}" />
				</div>
				<span>min </span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</f:if>

<div class="block-add-voyage">
	<p class="title">Les Orres</p>
	<div class="block-datepicker add-datepicker">
	
	</div>
	<div class="info-datepicker">
		<p>
			<f:translate key='tx_tours_domain_model_tours.the'/> 
			<span class="text-datepicker"></span>
		</p>
		<f:form.hidden name="lesOrresDate" value="" />
		<div class="input-date">
			<span>à </span>
			<div class="input-select">
				<f:form.select name="lesOrresHour" options="{hours}" />
			</div>
			<span>h </span>
			<div class="input-select">
				<f:form.select name="lesOrresMinute" options="{minutes}" />
			</div>
			<span>min </span>
		</div>
		<div class="input-label">
			<label>Tarif enfant</label>
			<div class="input-select">
				<f:form.select name="lesOrresChildPrice" options="{childPrices}" optionValueField="uid" optionLabelField="price" />
			</div>
			<span>€</span>
		</div>
		<div class="input-label">
			<label>Tarif adulte</label>
			<div class="input-select">
				<f:form.select name="lesOrresAdultPrice" options="{adultPrices}" optionValueField="uid" optionLabelField="price" />
			</div>
			<span>€</span>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="block-add-voyage">
	<p class="title">Crévoux</p>
	<div class="block-datepicker add-datepicker">
	
	</div>
	<div class="info-datepicker">
		<p>
			<f:translate key='tx_tours_domain_model_tours.the'/> 
			<span class="text-datepicker"></span>
		</p>
		<f:form.hidden name="crevouxDate" value="" />
		<div class="input-date">
			<span>à </span>
			<div class="input-select">
				<f:form.select name="crevouxHour" options="{hours}" />
			</div>
			<span>h </span>
			<div class="input-select">
				<f:form.select name="crevouxMinute" options="{minutes}" />
			</div>
			<span>min </span>
		</div>
		<div class="input-label">
			<label>Tarif enfant</label>
			<div class="input-select">
				<f:form.select name="crevouxChildPrice" options="{childPrices}" optionValueField="uid" optionLabelField="price" />
			</div>
			<span>€</span>
		</div>
		<div class="input-label">
			<label>Tarif adulte</label>
			<div class="input-select">
				<f:form.select name="crevouxAdultPrice" options="{adultPrices}" optionValueField="uid" optionLabelField="price" />
			</div>
			<span>€</span>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="block-add-voyage">
	<p class="title">Vars/Risoul</p>
	<div class="block-datepicker add-datepicker">
	
	</div>
	<div class="info-datepicker">
		<p>
			<f:translate key='tx_tours_domain_model_tours.the'/> 
			<span class="text-datepicker"></span>
		</p>
		<f:form.hidden name="varsDate" value="" />
		<div class="input-date">
			<span>à </span>
			<div class="input-select">
				<f:form.select name="varsHour" options="{hours}" />
			</div>
			<span>h </span>
			<div class="input-select">
				<f:form.select name="varsMinute" options="{minutes}" />
			</div>
			<span>min </span>
		</div>
		<div class="input-label">
			<label>Tarif enfant</label>
			<div class="input-select">
				<f:form.select name="varsChildPrice" options="{childPrices}" optionValueField="uid" optionLabelField="price" />
			</div>
			<span>€</span>
		</div>
		<div class="input-label">
			<label>Tarif adulte</label>
			<div class="input-select">
				<f:form.select name="varsAdultPrice" options="{adultPrices}" optionValueField="uid" optionLabelField="price" />
			</div>
			<span>€</span>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="block-add-voyage">
	<p class="title">Puy Saint Vincent</p>
	<div class="block-datepicker add-datepicker">
	
	</div>
	<div class="info-datepicker">
		<p>
			<f:translate key='tx_tours_domain_model_tours.the'/> 
			<span class="text-datepicker"></span>
		</p>
		<f:form.hidden name="puyDate" value="" />
		<div class="input-date">
			<span>à </span>
			<div class="input-select">
				<f:form.select name="puyHour" options="{hours}" />
			</div>
			<span>h </span>
			<div class="input-select">
				<f:form.select name="puyMinute" options="{minutes}" />
			</div>
			<span>min </span>
		</div>
		<div class="input-label">
			<label>Tarif enfant</label>
			<div class="input-select">
				<f:form.select name="puyChildPrice" options="{childPrices}" optionValueField="uid" optionLabelField="price" />
			</div>
			<span>€</span>
		</div>
		<div class="input-label">
			<label>Tarif adulte</label>
			<div class="input-select">
				<f:form.select name="puyAdultPrice" options="{adultPrices}" optionValueField="uid" optionLabelField="price" />
			</div>
			<span>€</span>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="block-add-voyage">
	<p class="title">Le Queyras</p>
	<div class="block-datepicker add-datepicker">
	
	</div>
	<div class="info-datepicker">
		<p>
			<f:translate key='tx_tours_domain_model_tours.the'/> 
			<span class="text-datepicker"></span>
		</p>
		<f:form.hidden name="queyrasDate" value="" />
		<div class="input-date">
			<span>à </span>
			<div class="input-select">
				<f:form.select name="queyrasHour" options="{hours}" />
			</div>
			<span>h </span>
			<div class="input-select">
				<f:form.select name="queyrasMinute" options="{minutes}" />
			</div>
			<span>min </span>
		</div>
		<div class="input-label">
			<label>Tarif enfant</label>
			<div class="input-select">
				<f:form.select name="queyrasChildPrice" options="{childPrices}" optionValueField="uid" optionLabelField="price" />
			</div>
			<span>€</span>
		</div>
		<div class="input-label">
			<label>Tarif adulte</label>
			<div class="input-select">
				<f:form.select name="queyrasAdultPrice" options="{adultPrices}" optionValueField="uid" optionLabelField="price" />
			</div>
			<span>€</span>
		</div>
	</div>
	<div class="clear"></div>
</div>

<button type="submit"><span class="bt-bordure-bleu">Ajouter</span></button>