{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:page.menu classActive="active" classCurrent="selected" classHasSubpages="submenu" classFirst="first" classLast="last">
	<f:if condition="{menu}">
	<ul>
		<f:for each="{menu}" as="menuPages" iteration="iteration">
			<li class="{menuPages.class}{f:if(then: ' submenu', condition: '{menuPages.uid} == 18')}">
			<f:if condition="{menuPages.current} == 1">
				<f:then>
					<a href="{menuPages.link}" title='{menuPages.nav_title -> v:or(alternative: "{menuPages.title}")}' class="selected">{menuPages.nav_title -> v:or(alternative: "{menuPages.title}")}</a>
				</f:then>
				<f:else>
					<a href="{menuPages.link}" title='{menuPages.nav_title -> v:or(alternative: "{menuPages.title}")}'>{menuPages.nav_title -> v:or(alternative: "{menuPages.title}")}</a>
				</f:else>
			</f:if>
			<f:if condition="{menuPages.hasSubPages} == 1">
				<f:render section="subMenuPages" arguments="{uid: menuPages.uid, subtitle: menuPages.subtitle}"/>
			</f:if>
			<f:if condition="{menuPages.uid} == 18">
				<f:render section="voyagesMenuPages" arguments="{_all}"/>
			</f:if>				
			</li>
		</f:for>
	</ul>
	</f:if>
</v:page.menu>

<f:section name="subMenuPages">
	<v:page.menu pageUid="{uid}" classActive="active" classCurrent="current" classHasSubpages="" classFirst="first" classLast="last">
		<ul>
			<f:if condition="{menu}">
				<f:for each="{menu}" as="subMenuPages" iteration="iteration">
					<li class="{subMenuPages.class}">
						<f:if condition="{subMenuPages.current} == 1">
						  <f:then>
								<a href="{subMenuPages.link}" title='{subMenuPages.nav_title -> v:or(alternative: "{subMenuPages.title}")}' class="selected">{subMenuPages.nav_title -> v:or(alternative: "{subMenuPages.title}")}</a>
						  </f:then>
						  <f:else>
								<a href="{subMenuPages.link}" title='{subMenuPages.nav_title -> v:or(alternative: "{subMenuPages.title}")}'>{subMenuPages.nav_title -> v:or(alternative: "{subMenuPages.title}")}</a>
						  </f:else>
						</f:if>
					</li>
				</f:for>
			</f:if>
		</ul>
	</v:page.menu>
</f:section>

<f:section name="voyagesMenuPages">
	<f:cObject typoscriptObjectPath="lib.tours" />
</f:section>
