<f:if condition="{settings.detail.media.image.lightbox}">
	<f:then>
		<a data-lightbox="{settings.detail.media.image.lightbox.rel}" title="{mediaElement.caption}" href="{f:uri.image(src:'{mediaElement.uid}' treatIdAsReference:1 maxWidth:'800')}">
			<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.media.maxWidth}" maxHeight="{settings.media.maxHeight}" />
		</a>
	</f:then>
	<f:else>
		<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.media.maxWidth}" maxHeight="{settings.media.maxHeight}" />
	</f:else>
</f:if>
<f:if condition="{mediaElement.originalResource.description}">
	<p class="news-img-caption">
		{mediaElement.originalResource.description}
	</p>
</f:if>