<f:if condition="{settings.detail.media.image.lightbox}">
	<f:then>
		<a data-lightbox="{settings.detail.media.image.lightbox.rel}" title="{mediaElement.caption}" href="{f:uri.image(src:'uploads/tx_news/{mediaElement.content}' maxWidth:'800')}">
			<f:image src="uploads/tx_news/{mediaElement.content}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.media.maxWidth}" maxHeight="{settings.media.maxHeight}" />
		</a>
	</f:then>
	<f:else>
		<f:image src="uploads/tx_news/{mediaElement.content}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.media.maxWidth}" maxHeight="{settings.media.maxHeight}" />
	</f:else>
</f:if>
<f:if condition="{mediaElement.caption}">
	<p class="news-img-caption">
		{mediaElement.caption}
	</p>
</f:if>