{namespace c=Autocars\Tours\ViewHelpers}
{namespace h=Helhum\TyposcriptRendering\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
    <f:if condition="{error} == 'true'">
        <f:then>
            <f:translate key='tx_tours_domain_model_tours.errorConfiguration'/> ==> {error}
        </f:then>
        <f:else>
            <form name="pay_form" method="POST" action="https://paiement.systempay.fr/vads-payment/">
                <div id="Info">
                    <p><b><u><f:translate key='tx_tours_domain_model_tours.information'/></u></b></p>
                    signature : {signature}<br/>
                    <input type="hidden" name="signature" value="{signature}" />
                    vads_action_mode : {vads_action_mode}<br/>
                    <input type="hidden" name="vads_action_mode" value="{vads_action_mode}" />
                    vads_amount : {vads_amount}<br/>
                    <input type="hidden" name="vads_amount" value="{vads_amount}" />
                    vads_ctx_mode : {vads_ctx_mode}<br/>
                    <input type="hidden" name="vads_ctx_mode" value="{vads_ctx_mode}" />
                    vads_currency : {vads_currency}<br/>
                    <input type="hidden" name="vads_currency" value="{vads_currency}" />
                    vads_cust_address : {vads_cust_address}<br/>
                    <input type="hidden" name="vads_cust_address" value="{vads_cust_address}" />
                    vads_cust_city : {vads_cust_city}<br/>
                    <input type="hidden" name="vads_cust_city" value="{vads_cust_city}" />
                    vads_cust_country : {vads_cust_country}<br/>
                    <input type="hidden" name="vads_cust_country" value="{vads_cust_country}" />
                    vads_cust_email : {vads_cust_email}<br/>
                    <input type="hidden" name="vads_cust_email" value="{vads_cust_email}" />
                    vads_cust_id : {vads_cust_id}<br/>
                    <input type="hidden" name="vads_cust_id" value="{vads_cust_id}" />
                    vads_cust_name : {vads_cust_name}<br/>
                    <input type="hidden" name="vads_cust_name" value="{vads_cust_name}" />
                    vads_cust_phone : {vads_cust_phone}<br/>
                    <input type="hidden" name="vads_cust_phone" value="{vads_cust_phone}" />
                    vads_cust_zip : {vads_cust_zip}<br/>
                    <input type="hidden" name="vads_cust_zip" value="{vads_cust_zip}" />
                    vads_language : {vads_language}<br/>
                    <input type="hidden" name="vads_language" value="{vads_language}" />
                    vads_order_id : {vads_order_id}<br/>
                    <input type="hidden" name="vads_order_id" value="{vads_order_id}" />
                    vads_page_action : PAYMENT<br/>
                    <input type="hidden" name="vads_page_action" value="PAYMENT" />
                    vads_payment_config : SINGLE<br/>
                    <input type="hidden" name="vads_payment_config" value="SINGLE" />
                    vads_redirect_error_message : Redirection vers la boutique dans quelques instants<br/>
                    <input type="hidden" name="vads_redirect_error_message" value="Redirection vers la boutique dans quelques instants" />
                    vads_redirect_error_timeout : 1<br/>
                    <input type="hidden" name="vads_redirect_error_timeout" value="1" />
                    vads_redirect_success_message : Redirection vers la boutique dans quelques instants<br/>
                    <input type="hidden" name="vads_redirect_success_message" value="Redirection vers la boutique dans quelques instants" />
                    vads_redirect_success_timeout : 1<br/>
                    <input type="hidden" name="vads_redirect_success_timeout" value="1" />
                    vads_return_mode : {vads_return_mode}<br/>
                    <input type="hidden" name="vads_return_mode" value="{vads_return_mode}" />
                    vads_site_id : {vads_site_id}<br/>
                    <input type="hidden" name="vads_site_id" value="{vads_site_id}" />
                    vads_trans_date : {vads_trans_date}<br/>
                    <input type="hidden" name="vads_trans_date" value="{vads_trans_date}" />
                    vads_trans_id : {vads_trans_id}<br/>
                    <input type="hidden" name="vads_trans_id" value="{vads_trans_id}" />
                    vads_url_return : {vads_url_return}<br/>
                    <input type="hidden" name="vads_url_return" value="{vads_url_return}" />
                    vads_version : V2<br/>
                    <input type="hidden" name="vads_version" value="V2" />

                    <button type="submit" class="validationButton" >
                        <span><em><f:translate key='tx_tours_domain_model_tours.pay'/></em></span>
                    </button>
                </div>
            </form>
        </f:else>
    </f:if>
</f:section>